<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
</head>
<body>
<div class="container-fluid">
    <div class="page-header">
        <h1 id="title"><%= title %></h1>
    </div>
    <div class="row-fluid">
        <div class="span4 offset4" id="login">
            <h3 style="text-align: center">Welcome to the simple chat client!</h3>
            <p style="text-align: center">Please enter your name to start chatting.</p>
            </br>
            <div class="panel-footer">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Name..." id="name">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit" name="join" id="join" value="Join"><i
                                    class="glyphicon glyphicon-thumbs-up"></i></button>
                    </div>
                </div>
            </div>
            <p id="number-of-users" style="text-align: center"> </p>
        </div>

    </div>
    <!---->
    <div class="row-fluid" id="chat">
        <div>
            <div class="span3" id="users">
                <h5 class="headi"><b>Users</b></h5>
                <ul id="people" class="unstyled"></ul>
            </div>
            <div class="span6 panel panel-default">
                <div class="panel-heading">
                    <h5 class="headi"><b>Chat</b></h5>
                </div>
                <div class="panel-body" id="chatbox" style="overflow: auto">
                    <ul id="messages" class="unstyled"></ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Enter Message..." id="msg">
                        <div class="input-group-btn">
                            <button class="btn btn-success" type="submit" name="send" id="send" value="Send"><i
                                        class="glyphicon glyphicon-tree-conifer"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function () {
        var socket = io();
        $("#chat").hide();
        $(".headi").hide();
        $("#name").focus();
        $("form").submit(function (event) {
            event.preventDefault();
        });

        socket.emit('num-users');

        $("#join").click(function () {
            var name = $("#name").val();
            if (name != "") {
                $(".headi").show();
                socket.emit('join', name);

                $("#login").detach();
                $("#chat").show();

                $("#msg").focus();
                ready = true;
            }
        });

        $("#name").keypress(function (e) {
            if (e.which == 13) {
                var name = $("#name").val();
                if (name != "") {
                    $(".headi").show();
                    socket.emit("join", name);
                    $("#login").detach();
                    $("#chat").show();
                    $("#msg").focus();
                    ready = true;
                }
            }
        });

        $('#send').click(function () {
            socket.emit('send', $('#msg').val());
            $('#msg').val('');
            $('.panel-body').scrollTop = 0;
            return false;
        });

        $("#msg").keypress(function (e) {
            if (e.which == 13) {
                socket.emit('send', $('#msg').val());
                $('#msg').val('');
                return false;
            }
        });

        socket.on('update', function (msg) {
            $('#messages').append($('<li>').text(msg));
        });

        socket.on('chat', function (who, msg) {
            if (who != "") {
                $('#messages').append($('<li>').text(who + ' says: ' + msg));
            } else {
                $('#messages').append($('<li>').text(msg));
            }
        });

        socket.on('update-people', function (people) {
            if (ready) {
                $("#people").empty();
                $.each(people, function (name) {
                    $('#people').append($('<li>').text(people[name]));
                });
            }
        });
        socket.on('update-num-users',function(counter){
            $('#number-of-users').text('Number of users online: ' + counter);
        });
    });
</script>
</body>
</html>
